#about{
    font-family: "Lato";
}

#about #banner{
    /*background: url('../assets/img/dawg.jpg') no-repeat center;*/
    background-size: cover;
    height: 60%;
    color:#fff;
}

#about #banner .bannertext{
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
}
#about #banner .bannertext h3{
    color: #fff;
    margin-bottom: 7%;
    font-size: 210%;
    font-weight:600;
    /*background: rgba(255,255,255,1);
    color: #222;
    display:inline-block;
    padding: 3% 6%;*/
}

#about .container{
    padding: 7% 6% 7% 6%;
}

#about .container h4{
	position: relative;
	text-align: center;
	font-family: 'open sans';
	font-weight: 600;
}

#about .container p{
    text-align:center;
    display: block;
    margin: auto;
    font-size: 140%;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 3%;
    opacity: 0.75;
    padding: 0% 3%;
}

.border{
	width: 3%;
	display: block;
	margin: auto;
	margin-bottom:2%;
	padding: 1px;
	background: #555;
	content: "&nbsp;";
	min-width: 40px;
}

#about #skills{
    padding: 5% 5%;
    /*background-color: #222;
    color: #FFF;*/
    color: #333;
}
#about #skills .icon-wrap{
	width:80%;
    min-width:300px;
    display: block;
    margin: auto;
    text-align: center;
    clear:both;
    margin-top: 2%;
    margin-bottom: 6%;
}
    #about #skills img {
        border: 1px solid #859DBE;
        border-radius: 60px;
        padding: 3%;
        vertical-align: middle;
        margin-bottom: 8%;
    }
#about #skills span{
	font-size: 110%;
    color: #A0A0A0;
    display: block;
    text-align: center;
    width: 60%;
    margin: auto;
}
#about #skills p{
    font-weight: 500;
    font-size: 130%;
}
#about #skills .btn, #description .btn{
	color: #333;
	background: #fff;
    border: 3px solid #333;
    border-radius: 0;
	text-align: center;
	margin: auto;
	margin-top: 3.5%;
	font-weight: 600;
    font-size: 120%;
	display: block;
	width: 10%;
	min-width: 125px;
	z-index:1;
	position: relative;
}

#about #skills .btn:hover, #about #skills .btn:active,
#about #description .btn:hover, #about #description .btn:active{
	color:#fff;
	background: #222;
}

#about #description {
    position: relative;
	display: block;
	margin: auto;
	text-align: center;
	min-width: 300px;
	font-family: 'open sans';
	font-weight: 600;
	color: #333;
    border-bottom: 1px solid #eee;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all .6s ease-in-out;
}
#about #description h4{
    font-size: 160%;
    font-weight: 400;
}
    #description.withbg{
        background: url('../assets/img/dawg.jpg');
        background-size: 100%;
    }
#about #description .row{
	width:75%;
	z-index:1;
    display:block;
    margin:auto;
}
#about #description p{
	width: 90%;
	padding: 2% 0% 1%;
	display: block;
	margin: auto;
	min-width: 280px;
}
#about #description .overlay{
	background: #eee;
    opacity:0.95;
}

.row{
    display:block;
    margin:auto;
    text-align: center;
}
