.body-main-header {
  position: fixed;
  margin:auto;
  display: block;
  /*padding-top: 25px;
  padding-bottom: 10px;*/
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: auto;
  z-index: 5;
  font-size: 100%;
  opacity: 1;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out; }
  .body-main-header .nav-links {
    display: inline-block;
    float: right;
    margin: 0;
    padding-left: 0;
    vertical-align: middle;
    line-height: 36px;}
    .body-main-header .nav-links li {
      display: inline-block;
      margin-right: 0;
      float: left;
      padding: 20px 20px 5px 20px;
      transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out; }
    .body-main-header .nav-links li > a {
      text-decoration: none;
      color: #FFF;
      font-weight: 400;}
    .body-main-header .nav-links li.hover {
      background: rgb(92, 109, 124);
      color: #fff;}
    .body-main-header .nav-links li>a:hover{
      color: #fff;}
    .body-main-header .nav-links li > a:active, .body-main-header .nav-links li .active {
      color: #ea103e; }
    .body-main-header .nav-links li.nav-link-active {
      background: rgb(57, 104, 190);
      background: #fff}
    .body-main-header .nav-links li.nav-link-active a{
      color: #333;
      font-weight: 600;}

.body-main-header.scrolled {
  /*background: #fff;
  border-bottom: 1px solid #eee; */
  background: #111;}
  .body-main-header.scrolled .nav-links li {
    padding: 12px 20px;}
  .body-main-header.scrolled li > a {
    color: #555; 
    font-size: 110%;}
  .body-main-header.scrolled .menu-btn {
    color: #888; }
  .body-main-header.scrolled .nav-logo a{
    font-size: 95%; 
    /*color: #3199c5;*/}

.body-main-header.scrolled-down{
    opacity:0;
}

.header-container, .mobile-header-container {
  display: block;
  padding: 0 2%; }

.mobile-header-container .menu-btn {
  float: right;
    margin-top:4%;
  margin-right: 2%;
  font-size: 150%;
  text-decoration: none;
  color: #FFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out; }
.mobile-header-container .menu-btn.clicked {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg); }
.mobile-header-container .nav-links {
  display: none;
  width: 100%;
  margin: 0;
  padding-bottom: 3%;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -webkit-animation: fadein .3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .3s;
  /* Firefox < 16 */
  -ms-animation: fadein .3s;
  /* Internet Explorer */
  -o-animation: fadein .3s;
  /* Opera < 12.1 */ }
  .mobile-header-container .nav-links li {
    display: block;
    list-style: none;
    text-align: center;
    margin: auto;
    margin-bottom: 15px; }
  .mobile-header-container .nav-links li > a:hover {
    opacity: 0.8; }
  .mobile-header-container .nav-links li > a:active, .mobile-header-container .nav-links li .active {
    color: #333; }
.mobile-header-container .nav-links.closed {
  -webkit-animation: close .3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: close .3s;
  /* Firefox < 16 */
  -ms-animation: close .3s;
  /* Internet Explorer */
  -o-animation: close .3s; }

.nav-logo {
  display: inline-block;
  font-size: 130%;
  color: #FFFFFF;
  padding-top: 20px;
  vertical-align: middle;
  line-height: 36px;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out; }
.nav-logo a{
  color: #FFFFFF;}
.nav-logo a:hover, nav-logo:active {
  color: #222;
  background: #FFF; }

.body-main-header.scrolled .nav-logo {
    padding-top: 12px; }

#special {
  padding: 8px;
  margin-top: -16px;
  font-weight: 600;
  text-decoration: none; 
  border: 1px solid;}
#special:hover{
  border:none;
}

a#special{
    margin-top: 2%;
}

/*Close Animation */
@-webkit-keyframes close {
  from {
    opacity: 1;
    margin-top: 0; }
  to {
    opacity: 0;
    margin-top: -30%; } }
/* Internet Explorer */
@-ms-keyframes close {
  from {
    opacity: 1;
    margin-top: 0; }
  to {
    opacity: 0;
    margin-top: -30%; } }
@keyframes close {
  from {
    opacity: 1;
    margin-top: 0; }
  to {
    opacity: 0;
    margin-top: -30%; } }
/* Firefox < 16 */
@-moz-keyframes close {
  from {
    opacity: 1;
    margin-top: 0; }
  to {
    opacity: 0;
    margin-top: -30%; } }
@media only screen and (max-width: 1024px) {
  .body-main-header .header-container {
    display: none; }

  .body-main-header .mobile-header-container {
    display: block; } }
@media only screen and (min-width: 1025px) {
  .body-main-header .mobile-header-container {
    display: none; }

  .body-main-header .header-container {
    display: block; } }
