@import url(header.css);
@import url(work.css);
@import url(about.css);
@import url(contact.css);
@import url(404.css);

body{
	font-family: 'Roboto';
}
.body-wrap, .content{
	height: 100%;
	background: #eee;
	position: absolute;
	top:0;
	left:0;
	width:100%;
}

#body-container {
    min-height:100%;
}

.content{
    opacity:0;
	transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease-in-out;
    transform: translate3d(0, 50% 0);
    -webkit-transform: translate3d(0, 50%, 0);
    -moz-transform: translate3d(0, 50%, 0);
}
.page-active{
    transform: translate3d(0, 0, 0);
    opacity:1;
}

.page-nonactive{
    transform: translate3d(0, 100%, 0);
    opacity:0;
}

.loading-screen{
    background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index:5;
}
.loading-screen h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size:300%;
    font-weight:600;
    padding:2%;
    border:4px solid;
}

.overlay {
	background: #000;
	opacity: 0.75;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all .6s ease-in-out;
}
.content-wrap{
	margin:auto;
}

#yourimage{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 100%;
	width:100%;
	display:block;
	float:left;
	background-image: url("../img/pro.jpg");
}

#banner {
	height:100%;
	background: rgb(42, 101, 152);
}

.bannertext{
	display: block;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    min-width: 280px;
    width: 50%;
}

.bannertext h3{
	color:#fff;
	margin-bottom: 7%;
	font-size: 300%
}

#banner .btn{
	color:#fff;
	border: 1px solid;
	padding:2% 7%;
}
#banner .btn:hover, #banner .btn:active{
	background:#fff;
	border: 1px solid #fff;
	color:#333;
}



/*Work Previews - at end of about and contact pages*/
#workprev{
    display:block;
    position:relative;
    padding: 8% 5%;
    min-height:150px;
    background: rgb(56, 137, 207);
    /*will be replaced with background image?*/
    color:#fff;
    cursor:pointer;
    transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}
#workprev:hover{
    background: -webkit-linear-gradient(90deg, #4C9BC4 10%, #21ECB9 90%);
    background: -moz-linear-gradient(90deg, #4C9BC4 10%, #21ECB9 90%);
    background: -o-linear-gradient(90deg, #4C9BC4 10%, #21ECB9 90%);
    background: linear-gradient(90deg, #4C9BC4 10%, #21ECB9 90%);
    background: #13B88F;
    opacity:1;
}
#workprev .header{
    color: #fff;
    font-size: 90%;
    font-weight: 400;
    display: block;
    text-align: center;
}
#workprev .work-title{
    color: #fff;
    font-size: 180%;
    font-weight: 500;
    display:block;
    text-align: center;
    margin-top:3%;
    margin-bottom:2%;
    transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}
#workprev .work-desc{
    color: #fff;
    opacity: 0.8;
    margin: auto;
    margin-top:2%;
    margin-bottom: 4%;
    display: block;
    text-align: center;
    min-width: 300px;
    max-width:500px;
    font-weight: 300;
    font-size:110%;
}
#workprev .border{
    background:#fff;
}

footer{
	color:#888;
	padding: 1% 0%;
    border-top:1px solid #eee;
}
footer span{
	text-align: center;
	display: block;
	font-weight: 300;
	font-size:80%;
}

.container{
	display: block;
	margin:auto;
	position:relative;
	margin-top: 0;
	margin-bottom: 0;
    width:auto;
}

.top-bar{
	margin-left: auto;
	margin-right: auto;
}


