@import url(header.css);
@import url(work.css);

body{
	font-family: 'Roboto';
}
.body-wrap, .content{
	height: 100%;
	background: #eee;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.content{
    opacity:0;
	transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease-in-out;
    transform: translate3d(0, 50% 0);
    -webkit-transform: translate3d(0, 50%, 0);
    -moz-transform: translate3d(0, 50%, 0);
}
.page-active{
    transform: translate3d(0, 0, 0);
    opacity:1;
}

.page-nonactive{
    transform: translate3d(0, 100%, 0);
    opacity:0;
}

.loading-screen{
    background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index:5;
}
.loading-screen h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size:300%;
    font-weight:600;
    padding:2%;
    border:3px solid;
}

.overlay {
	background: #000;
	opacity: 0.75;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all .6s ease-in-out;
}
.content-wrap{
	margin:auto;
}

#yourimage{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 100%;
	width:100%;
	display:block;
	float:left;
	background-image: url("../img/pro.jpg");
}

#banner {
	height:100%;
	background: rgb(42, 101, 152);
}

#bannertext{
	display: block;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    min-width: 280px;
    width: 50%;
}

#bannertext h3{
	color:#fff;
	margin-bottom: 7%;
	font-size: 300%
}

#banner .btn{
	color:#fff;
	border: 1px solid;
	padding:2% 7%;
}
#banner .btn:hover, #banner .btn:active{
	background:#fff;
	border: 1px solid #fff;
	color:#333;
}


#about{
	/*background-color: #3199c5;*/
	background-color: #fff;
	/*margin-top: -20px;*/
	color:#fff;
}

#about h3{
	position: relative;
	text-align: center;
	padding-bottom: .25%;
	font-family: 'open sans';
	font-weight: 600;
	font-size: 140%;
}

.border{
	width: 3%;
	display: block;
	margin: auto;
	margin-bottom:2%;
	padding: 1px;
	background: #555;
	content: "&nbsp;";
	min-width: 40px;
}

#skills{
	background-color: #F5F5F5;
	background-color: #fff;
	padding: 8% 5% 13% 5%;
}
#skills .row{
	width:80%;
}
#skills h4{
	font-size: 10pt;
	margin:0;
}
#skills .btn, #description .btn{
	color: #fff;
	border: 1px solid;
	padding: .5% 1%;
	text-align: center;
	margin: auto;
	margin-top: 3.5%;
	font-weight: 300;
	font-size: 60%;
	display: block;
	width: 10%;
	min-width: 125px;
	z-index:1;
	position: relative;
}
#skills .btn:hover, #skills .btn:active,
#description .btn:hover, #description .btn:active{
	color:#222;
	border: 1px solid #222 #fff;
	background:#fff;
}

#description {
    position: relative;
	font-size: 160%;
	padding: 9% 3% 9% 3%;
	display: block;
	margin: auto;
	text-align: center;
	min-width: 300px;
	font-family: 'open sans';
	font-weight: 600;
	color: #333;
    background-color: #eee;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all .6s ease-in-out;
}
#description:hover{
    color: #fff;
	background: url("../assets/img/dawg.jpg") center no-repeat;
	background-size: cover;
}
#description:hover .overlay{
    opacity:.75;
}
#description:hover h4{
    color: #fff
}
#description h4{
	font-weight: 400;
}
#description .row{
	width:75%;
	z-index:1;
}
#description p{
	font-weight: 300;
	width: 90%;
	padding: 2% 1% 0% 1%;
	display: block;
	margin: auto;
	min-width: 280px;
}
#description .border{
}
#description .overlay{
	background: #111;
    opacity:0;
}


#contact{
	/*background-color: #3199c5;
	background-color: #eee; */
	color:#222;
	padding-top: 2%;
	padding:4% 0%;
}
#contact h3{
	position: relative;
	text-align: center;
	font-size: 130%;
	margin-bottom: 2%;
}

#contact p{
	text-align:center;
	position:relative;
	font-weight:300;
	font-size: 100%;
	color: #939393;
}

#contact .row{

}

#contact i{
	font-size: 150%;
	color:#222;
	margin: 1% 0.5%;
	cursor:pointer;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
#contact i:hover, #contact i:active{
	color: #3199c5;
}

footer{
	color:#888;
	padding: 1% 0%;
}
footer span{
	text-align: center;
	display: block;
	font-weight: 300;
	font-size:80%;
}

.container{
	display: block;
	margin:auto;
	position:relative;
	margin-top: 0;
	margin-bottom: 0;
}

.top-bar{
	margin-left: auto;
	margin-right: auto;
}

