#work #banner{
    height: 50%;
}

#work #bannertext{
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
}

#work #bannertext h3{
    font-weight:600;
    font-size:250%;
}

#work #gallery{
    padding: 9% 3%;
}