<!--About-->
<div class="content" id="about">
  <!--banner-->
  <div class="container" id="banner">
    <!--<div id="yourimage"></div><div class="overlay"></div> -->
      <div class="bannertext">
          <h3>Nice to Meet You :)</h3>
       </div>
  </div>
  <!--Description-->
  <div class="container" id="description">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h4> Intuitive user experiences, and exciting projects are what I crave for.</h4> 
        <p>Fo shizzle ipsizzle dolizzle sit amet, consectetuer adipiscing elit. Dope the bizzle velizzle, gangsta volutpat, suscipit quizzle,                gravida vizzle, arcu. Pellentesque eget tortor. Sed for sure. Da bomb fo shizzle mah nizzle fo rizzle, mah home g-dizzle dolor                    dapibizzle turpizzle for sure ma nizzle. Maurizzle boom shackalack nibh et</p>      
      </div>
    </div>
  </div>
  <!--Skills-->
  <div class="container" id="skills">
    <div class="row">
      <div class="small-12 large-12 columns">
        <h4>S K I L L S</h4>
      </div>
    </div>
    <div class="row icon-wrap">
      <div class="col-sm-3 col-md-3"><img src="assets/img/ui-ux.png" /><span>UI/UX Design</span></div>
      <div class="col-sm-3 col-md-3"><img src="assets/img/ui-ux.png" /><span>Web Dev</span></div>
      <div class="col-sm-3 col-md-3"><img src="assets/img/ui-ux.png" /><span>Twerking</span></div>
      <div class="col-sm-3 col-md-3"><img src="assets/img/ui-ux.png" /><span>Mobile App</span></div>
    </div>
    <p>
        Here you can say more about your skills or yourself to attract possible clients and employers.
        <br>Like proclaim, "I'm the baddest female." or "Do you see any Teletubbies in here? <br>"Do you happen to know who th real Slim Shady is? Do you, punk?"
    </p>
  </div>
  <!--Work Preview-->
  <a class="container" id="workprev" href="">
    <h3 class="header">EXPLORE MY WORK</h3>
    <!--<span class="work-title">Sample Title</span>-->
    <span class="work-desc">Da bomb fo shizzle mah nizzle fo rizzle, mah home g-dizzle dolor                    dapibizzle turpizzle for sure ma nizzle.</span>
  </a> 
  <!--end-->
</div>