<!--About-->
<div class="content" id="about">
  <!--banner-->
  <div class="container banner" id="banner">
    <!--<div id="yourimage"></div><div class="overlay"></div> -->
      <div class="bannertext">
          <h3>Nice to Meet You :)</h3>
       </div>
  </div>
  <!--Description-->
  <div class="container" id="description">
    <div class="overlay"></div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h4> Intuitive user experiences, and exciting projects are what I crave for.</h4> 
        <div class='border'></div> 
        <p>Fo shizzle ipsizzle dolizzle sit amet, consectetuer adipiscing elit. Dope the bizzle velizzle, gangsta volutpat, suscipit quizzle,                gravida vizzle, arcu. Pellentesque eget tortor. Sed for sure. Da bomb fo shizzle mah nizzle fo rizzle, mah home g-dizzle dolor                    dapibizzle turpizzle for sure ma nizzle. Maurizzle boom shackalack nibh et</p>      
      </div>
    </div>
    <a class="btn" href="#work">Learn More</a>
  </div>
  <!--Skills-->
  <div class="container" id="skills">
    <div class="row">
      <div class="small-12 large-12 columns">
        <h4>Skills</h4>
      </div>
    </div>
    <div class='border'></div>
    <div class="row">
      <div class="col-sm-3 col-md-3"><img src="assets/img/ui-ux.png" /><span>UI/UX Design</span></div>
      <div class="col-sm-3 col-md-3"><img src="assets/img/ui-ux.png" /><span>Web Design</span></div>
      <div class="col-sm-3 col-md-3"><img src="assets/img/ui-ux.png" /><span>Web Development</span></div>
      <div class="col-sm-3 col-md-3"><img src="assets/img/ui-ux.png" /><span>Mobile Development</span></div>
    </div>
  </div>
  <!--Work Preview-->
  <a class="container" id="workprev" href="">
    <h3 class="header">Explore My Work</h3>
    <div class='border'></div>
    <!--<span class="work-title">Sample Title</span>-->
    <p class="work-desc">Da bomb fo shizzle mah nizzle fo rizzle, mah home g-dizzle dolor                    dapibizzle turpizzle for sure ma nizzle.</p>
  </a> 
  <!--end-->
   <footer>
        <span>&copy; Snoop Dogg | 2014 </span>
   </footer>
  
</div>