<!--Contact Footer-->
<div class="content" id="contact">
    <!--banner-->
    <div class="container banner" id="banner">
    <!--<div id="yourimage"></div><div class="overlay"></div> -->
      <div class="bannertext">
          <h3>Let's Get in Touch!</h3>
       </div>
    </div>
    <div class="container" id="contact-info">
        <h4>I'm human, I swear</h4>
        <p>Feel free to send me an email at <a href='mailto:eds8004@rit.edu' class='email'>eds8004@rit.edu</a> or find me at one of the links below!</p>
        <div class="row">
          <div class="col-sm-12 col-md-12">
              <a class="slink" href=''><i class="fa fa-linkedin"></i></i></a>
              <a class="slink" href='https://twitter.com/SnoopDogg' target="_blank"><i class="fa fa-twitter"></i></a>
              <a class="slink" href='http://instagram.com/mchammer' target="_blank"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
    </div>
    <!--Work Preview-->
   <a class="container" id="workprev" href="">
        <h3 class="header">Explore My Work</h3>
        <div class='border'></div>
        <!--<span class="work-title">Sample Title</span>-->
        <p class="work-desc">Da bomb fo shizzle mah nizzle fo rizzle, mah home g-dizzle dolor                    dapibizzle turpizzle for sure ma         nizzle.</p>
   </a> 
   <!--end-->
   <footer>
        <span>&copy; Snoop Dogg | 2014 </span>
   </footer>
</div>