<div class='content' id='home'>
   <!--banner-->
   <div class="container" id="banner">
    <!--<div id="yourimage"></div>
    <div class="overlay"></div> -->
      <div id="bannertext"><h3>Interaction &amp; UI/UX Designer</h3>
      <a class="btn" href="#">View Work</a></div>  
   </div>
  <!--About-->
   <div class="content-wrap" id="about">
      <!--Skills-->
      <div class="container" id="skills">
        <div class="row">
          <div class="small-12 large-12 columns">
            <h3>About</h3>
          </div>
        </div>
        <div class='border'></div>
        <div class="row">
          <div class="small-3 large-3 columns text-center"><img src="assets/img/ui-ux.png" /><h4>UI/UX Design</h4></div>
          <div class="small-3 large-3 columns text-center"><img src="assets/img/ui-ux.png" /><h4>Web Design</h4></div>
          <div class="small-3 large-3 columns text-center"><img src="assets/img/ui-ux.png" /><h4>Web Development</h4></div>
          <div class="small-3 large-3 columns text-center"><img src="assets/img/ui-ux.png" /><h4>Mobile Development</h4></div>
        </div>
      </div>
      <!--Description-->
      <div class="container" id="description">
        <div class="overlay"></div>
        <div class="row">
          <div class="small-12 large-12 columns text-center">
            <h4> Intuitive user experiences, and exciting projects are what I crave for.</h4> 
            <div class='border'></div> 
            <p>Fo shizzle ipsizzle dolizzle sit amet, consectetuer adipiscing elit. Dope the bizzle velizzle, gangsta volutpat, suscipit quizzle, gravida vizzle, arcu. Pellentesque eget tortor. Sed for sure. Da bomb fo shizzle mah nizzle fo rizzle, mah home g-dizzle dolor dapibizzle turpizzle for sure ma nizzle. Maurizzle boom shackalack nibh et </p>      
          </div>
        </div>
        <a class="btn" href="#">Learn More</a></div> 
      </div>
      <!--Contact Footer-->
      <div class="container" id="contact">
        <h3>Let's Get in Touch!</h3>
        <p> Feel free to email me at <a href='mailto:eds8004@rit.edu' class='email'>eds8004@rit.edu</a> or find me at one of the links below!</p>
        <div class="row">
          <div class="small-12 large-12 columns text-center">
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter-square"></i>
            <i class="fa fa-instagram"></i>
          </div>
        </div>
      </div>
      <footer>
        <span>&copy; Snoop Dogg | 2014 </span>
      </footer>
  </div>
</div>