<link rel="stylesheet" type="text/css" href="template/work/assets/css/startrek.css" />
<div class='content case-study' id='StarTrek'>
   <!--banner-->
   <div class="container banner" id="banner">
    <!--<div id="yourimage"></div>
    <div class="overlay"></div> -->
    <div class="banner-text-wrap">
      <div class="bannertext">
          <h3>Star Trek: Into the Darkness</h3>
       </div>
    </div>
   </div>
  <!--Description-->
  <div class="case-container text-center">
      <h3 class='header'>M O T I O N S &nbsp;&amp;&nbsp; G R A P H I C S</h3>
      <p><b>Client:</b> Paramount Pictures</p>
      <p><b>Work:</b> Animation</p>
      <p>Designing the promotional animated poster for one of the most successful sci-fi franchises of all time</p>
      <p>Really created by <a href='http://nickboes.com/' target="_blank">Nick Boes</a>.</p>
  </div>
  <div class='border'></div>
  <div class="case-container text-center">
      <h3 class='header'>A N I M A T I O N</h3>
      <div class='video-container'>
        <iframe width="640px" height="525px" src="//www.youtube.com/embed/oSB-geA4428" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
  <div class='case-container half' id="left">
      <p>故価表ラぼり懸身サチホヱ数選ゃゅ互児をざず真飛ふい来写惑化ゆがりラ捕載ユツテコ死命ぐおをぎ効谷でやトい必心かドが神美販きむ犯元ぱわル健野フ外目庁課寮すス。振へ近深スサマユ転借ラウユト手1間サノセチ北政ケイルオ選告ホエモサ検72区にさ協入物ナメタレ検属ラ橋8東ひじっぜ転社克即向さふー。小テメ気何ルオノ売調かンっは裏映捜ス戻揚ルソサ多護山うあて場設ラリ慎1各ユコノマ経久すけぼ役逃据灯琴もぱだレ.</p> 
  </div>
  <div class='case-container half' id="right">
      <p>故価表ラぼり懸身サチホヱ数選ゃゅ互児をざず真飛ふい来写惑化ゆがりラ捕載ユツテコ死命ぐおをぎ効谷でやトい必心かドが神美販きむ犯元ぱわル健野フ外目庁課寮すス。振へ近深スサマユ転借ラウユト手1間サノセチ北政ケイルオ選告ホエモサ検72区にさ協入物ナメタレ検属ラ橋8東ひじっぜ転社克即向さふー。小テメ気何ルオノ売調かンっは裏映捜ス戻揚ルソサ多護山うあて場設ラリ慎1各ユコノマ経久すけぼ役逃据灯琴もぱだレ.</p> 
  </div>
  <div class="case-container text-center">
      <h3 class='header'>S T O R Y B O A R D</h3>
      <img class='size-2 margin' src='http://payload239.cargocollective.com/1/1/51400/7092297/ST_Art02_960.jpg'/>
      <img class='size-2 margin' src='http://payload239.cargocollective.com/1/1/51400/7092297/ST_Art03_960.jpg'/>
      <img class='size-2 margin' src='http://payload239.cargocollective.com/1/1/51400/7092297/ST_Art04_960.jpg'/>
      <img class='size-2 margin' src='http://payload239.cargocollective.com/1/1/51400/7092297/ST_Art06_960.jpg'/>
  </div>
  <!--end-->
   <footer>
        <span>&copy; Snoop Dogg | 2014 </span>
   </footer>
</div>