<link rel="stylesheet" type="text/css" href="template/work/assets/css/startrek.css" />
<div class='content case-study' id='M&CSaatchi'>
   <!--banner-->
   <div class="container banner" id="banner">
    <!--<div id="yourimage"></div>
    <div class="overlay"></div> -->
    <div class="banner-text-wrap">
      <div class="bannertext">
          <h3>M&amp;C Saatchi</h3>
       </div>
    </div>
   </div>
  <!--Description-->
  <div class="case-container text-center">
      <h3 class='header'>M O T I O N S &nbsp;&amp;&nbsp; G R A P H I C S</h3>
      <p><b>Client:</b> Paramount Pictures</p>
      <p>Designing the promotional animated poster for one of the most successful sci-fi franchises of all time</p>
      <p>Really created by <a href='http://nickboes.com/'>Nick Boes</a>.</p>
  </div>
  <div class='border'></div>
  <div class="case-container text-center">
      <h3 class='header'>A N I M A T I O N</h3>
      <div class='video-container'>
        <iframe width="640px" height="525px" src="//www.youtube.com/embed/oSB-geA4428" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
  <div class="case-container text-center">
      <h3 class='header'>S T O R Y B O A R D</h3>
      <img class='size-half' src='http://payload239.cargocollective.com/1/1/51400/7092297/ST_Art02_960.jpg'/>
      <img class='size-half' src='http://payload239.cargocollective.com/1/1/51400/7092297/ST_Art03_960.jpg'/>
      <img class='size-half' src='http://payload239.cargocollective.com/1/1/51400/7092297/ST_Art04_960.jpg'/>
      <img class='size-half' src='http://payload239.cargocollective.com/1/1/51400/7092297/ST_Art06_960.jpg'/>
  </div>
  <div class="case-container text-center">
      <p>Snoop Dogg didn't have time to finish the work navigation</p>
      <a href='#/work'>View More Works</a>
  </div>
  <!--end-->
   <footer>
        <span>&copy; Snoop Dogg | 2014 </span>
   </footer>
</div>