<link rel="stylesheet" type="text/css" href="template/work/assets/css/xmen-trackindustries.css" />
<div class='content case-study' id='x-men'>
   <!--banner-->
   <div class="container banner" id="banner">
    <div class="banner-text-wrap">
      <div class="bannertext">
          <h3>
              <span>X-Men: Days of Future's Past</span>
              Track Industries
          </h3>
       </div>
    </div>
   </div>
  <!--Description-->
  <div class="case-container text-center">
      <h3 class='header'>W E B S I T E &nbsp;&amp;&nbsp; D E S I G N</h3>
      <p><b>Client:</b> Fox</p>
      <p><b>Work:</b> Web Design &amp; Development</p>
      <p>Launched the digital campaign for X-Men: Days of Future's Past, garnering million of online views and social media attention.</p>
      <p>All content belongs to <a href='http://nickboes.com/' target="_blank">Nick Boes</a>.</p>
      <a class='project-link' href='http://www.trask-industries.com/' target="_blank">VIEW PROJECT</a>
  </div>
  <div class='border'></div>
  <div class="case-container text-center">
      <img src='http://payload249.cargocollective.com/1/1/51400/7288971/Trask_Devices01_960.jpg'/>
  </div>
  <div class="case-container text-center">
      <p><b>Promotional Video</b></p>
    <div class='video-container'>
        <iframe width="640px" height="525px" src="//www.youtube.com/embed/92YBR9gEyYI" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
  <div class="case-container text-center text-wrap">
      <h3 class='header'>How do you excite a skeptical fan base, launch the fifth installment to the X-Men franchise and stand out at a convention that’s over-saturated with the year’s top entertainment titles? </h3>
      <p>...It starts with a giant robot. To get audiences excited about "X-Men: Days of Future Past," we created a comprehensive launch campaign that included a giant Sentinel head at Comic-Con, a cache of online content built around the film's evil megacorporation, and a corporate lifestyle commercial that established the company’s sinister agenda.</p>
  </div>
  <div class="case-container text-center">
      <img src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Home01a_960.jpg'/>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Home01b_small_o.jpg'/>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Home01btest_o.jpg'/>
  </div>
  <div class="case-container text-center">
      <img src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Innovation_Landing_01_960.jpg'/>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Innovation_360s_01_o.gif'/>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Innovation_info_01_o.jpg'/>
  </div>
  <div class="case-container text-center">
      <h3 class='header'>G E N E T I C S</h3>
      <img src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Genetics_Landing_01_960.jpg'/>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Genetics_Info_01_o.jpg'/>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Genetics_Info_02_o.gif'/>
  </div>
  <div class="case-container text-center">
      <h3 class='header'>M E D I A</h3>
      <img src='http://payload249.cargocollective.com/1/1/51400/7288971/Site_Media_Landing01_960.jpg'/>
  </div>
  <div class="case-container full">
      <img src='http://payload160.cargocollective.com/1/1/51400/5514822/XMEN_Trask_Header01_o.jpg'/>
  </div>
  <div class="case-container text-center">
      <h3 class='header'>M I S C </h3>
      <p>Film &amp; Animation</p>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Trask_Behind_01.jpg'/>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Trask_Behind_02.jpg'/>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Trask_Behind_03g.jpg'/>
      <img class='size-2 margin' src='http://payload249.cargocollective.com/1/1/51400/7288971/Trask_Behind_03f.jpg'/>
  </div>
  <!--end-->
   <footer>
        <span>&copy; Snoop Dogg | 2014 </span>
   </footer>
</div>