<link rel="stylesheet" type="text/css" href="template/work/assets/css/xmen-trackindustries.css" />
<div class='content case-study' id='x-men'>
   <!--banner-->
   <div class="container banner" id="banner">
    <!--<div id="yourimage"></div>
    <div class="overlay"></div> -->
    <div class="banner-text-wrap">
      <div class="bannertext">
          <h3>
              <span>X-Men: Days of Future's Past</span>
              Track Industries
          </h3>
       </div>
    </div>
   </div>
  <!--Description-->
  <div class="case-container text-center">
      <p>Snoop Dogg didn't have time to finish the work navigation</p>
      <a href='#/work/'>View More Works</a>
  </div>
  <!--end-->
   <footer>
        <span>&copy; Snoop Dogg | 2014 </span>
   </footer>
</div>